{# Button stuff #}

{% macro button_post_link(location, text) -%}
	<button type='button' class='foodie_post_button' value='{{location}}'>{{ text }}</button>
{%- endmacro %}

{% macro button(text, class) -%}
	<button class='foodie_button {{class}}'>{{ text }}</button>
{%- endmacro %}

{% macro link(text, class) -%}
	<a class='{{ class }}' href='javascript:void(0)'>{{ text }}</a>
{%- endmacro %}

{# grid stuff #}

{% macro grid() -%}
	<table>{{ caller() }}</table>
{%- endmacro %}

{% macro row() -%}
	<tr>{{ caller() }}</tr>
{%- endmacro %}

{% macro column() -%}
	<td>{{ caller() }}</td>
{%- endmacro %}

{# Inputs and form stuff #}

{% macro form(title, action, is_multipart=false, id='') -%}
	{% set enc_type = '' %}
	{% if is_multipart %}
		{% set enc_type = 'enctype="multipart/form-data"' %}
	{% endif %}
	<form action="{{ action }}" method="POST" {{ enc_type }} id="{{ id }}" title="{{ title }}">
		<p class='validate-tips'></p>
		<fieldset class="fieldset-auto-width">
			{{ caller() }}
		</fieldset>
	</form>
{%- endmacro %}

{% macro input(type, name, label) -%}
	<div>
		<label for='{{ name }}'>{{ label }}</label>
	</div>
	<div>
		<input type='{{ type }}' name='{{ name }}' class='text ui-widget-content ui-corner-all' />
	</div>
{%- endmacro %}

{% macro file_input(name, label) -%}
	<div>
		<label for='{{ name }}'>{{ label }}</label>
	</div>
	<div class='foodie-file-drop'>
		<span class='foodie-drop-label'>Drop here...</span>
	</div>
{%- endmacro %}

{% macro floating_list(id = 'recipe-list') -%}
	<div class='foodie-float-list' id="{{ id }}">
		{{ caller() }}
	</div>
{%- endmacro %}

{% macro float_element(title, location, icon_location) -%}
	<div class='foodie-float-element'>
		<a href='{{ location }}'>{{ title }}
			<div class='foodie-float-icon'>
				<img src='{{ icon_location }}' />
			</div>
		</a>
	</div>
{%- endmacro %}

{% macro image(location, img_width='', img_height='') -%}
	{% if img_width != '' %}
		{% set width = "width=" ~ "'" ~ img_width ~ "'" %}
	{% endif %}
	{% if img_height != '' %}
		{% set height = "height=" ~ "'" ~ img_height ~ "'" %}
	{% endif %}
	<img src='{{ location }}' {{ width }} {{ height }}>
{%- endmacro %}
