{% import "controls.html" as controls %}

{% macro add_more_input() -%}
	<div class='add-more-input'></div>
{%- endmacro %}

{% macro ingredients_area() -%}
	<div class="all-ingredients">Ingredients</div>
	<div>	
		{{ add_more_input() }}
	</div>
{%- endmacro %}


{% block content %}
	{% call controls.form("Create Recipe", location_provider.get_save_location(), true, "create-recipe-form") %}
		{{ controls.input("text", "title", "Title:") }}
		{{ controls.input("text", "author", "Author:") }}
		{{ controls.input("text", "cookbook", "Cookbook") }}
		{{ controls.file_input("img", "Photo") }}
		{{ ingredients_area() }}
	{% endcall %}
{% endblock %}