<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.10.2.custom.min.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/controls.css" />
		{% block javascript %}
			<script src="/javascript/jquery-1.9.1.js"></script>
			<script src="/javascript/jquery-ui-1.10.2.custom.js"></script>
			<script src="/javascript/jquery-ui-1.10.2.custom.min.js"></script>
			<script src="/javascript/controls.js"></script>
		{% endblock %}
	<title>Foodbox</title>
	</head>
	<body>
		<div id="all-container">
			<div id="main-separator"></div>
			<div id="header">
				<div id="logo">Foodbox</div>
				<ul id="user">
					<li>Welcome, {{ user_name }}</li>
					<li><a id="userLink" href="{{ url }}">Logout</a></li>
				</ul>
			</div>
			<div id="content">
				<div id="nav">
					<div class="foodie-links">
						<ul>
							<li><a href="/recipes">Home</a></li>
							<li>{{ controls.link("Create Recipe", "create-recipe-button") }}</li>
						</ul>
					</div>
				</div>
				<div id="main">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</body>
</html>