{% extends "layout.html" %}
{% import "controls.html" as controls %}

{% block content %}
	<div class='foodie-recipe-right'>
		{{ controls.image(location_provider.get_photo_location(recipe), 512, 512) }}
		<div class='foodie-recipe-buttons'>
			{{ controls.button_post_link(location_provider.get_delete_location(recipe), 'Delete') }}
			{{ controls.button_post_link('', 'Edit') }}
		</div>
	</div>
	<div class="foodie-recipe-main">
		<h1>{{ recipe.title }}</h1>
		
		<p>
			Author: {{ recipe.author }}
			<br>
			Cookbook: {{ recipe.cookbook }}
		</p>
		
		<div class='foodie-ingredients'>
			<h2>Ingredients</h2>
			<ul class='foodie-recipe-items'>
				{% for recipe_item in recipe.items %}
					<li>
						{{ recipe_item.ingredient }} {{ recipe_item.quantity }} {{ recipe_item.unit }}
					</li>
				{% endfor %}
			</ul>
		</div>
		
		<div class='foodie-recipe-method'>
			<h2>Method</h2>
		</div>
	</div>
	
	
{% endblock %}