
    
.foodie-float-list {
	padding:10px;
}

.foodie-float-element {
	background-color:#eeeeee;
	border: 1px solid #685642;
	height: 150px;
	width: 150px;
	padding:5px;
	margin:5px;
	top:100px;
	float:left;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.foodie-float-element a {
	position: top left;
	margin: 10px;
}

.foodie-float-icon img {
	width: 130px;
	height: 110px;
	margin: 10px;
}

input.text {
	margin-bottom:12px;
	width:95%;
	padding: .4em;
}

fieldset {
	border-style:none;
}

