 
body {
	font-family: 'Josefin Sans', Verdana, Helvetica, sans-serif;
	font-size: small;
}

html, body {
	height:100%;
	min-height:100%;
	margin:0px;
	position:relative;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

#logo {
	font-size: 3.5em;
	float:left;
}

#user {
	list-style-type:none;
	float:right;
}

#all-container {
	min-height:100%;
	background-color:#E6DCD8;
	position:relative;
}

#header {
	height:60px;
	padding-left:20px;
	padding-right:20px;
	background-color:#685642;
}

#header a, #header li, #header #logo {
	color:white;
}

#content {
	overflow:auto;
	height:100%;
	min-height:100%;
	background-color:#E6DCD8;
	padding-bottom:70px;
}

#nav {
	float:left;
	width:200px;
	height:100%;
}

#main-separator {
	position:absolute;
	width:3px;
	top:60px;
	bottom:0px;
	left:200px;
	background-color:#685642;
}

#main {
	padding-bottom:60px;
	padding-left:210px;
}

#footer {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	background-color:#685642;
	clear:both;
}

.foodie-quantity, .foodie-unit {
	width:80px;
	height:25px;
	margin:5px;
}

.foodie-quantity-group {
	float:right;
	margin-right:10px;
}

.all-ingredients {
	padding-top:5px;
	padding-bottom:5px;
}

.add-more-button span {
	width:15px;
}